html, 
body, 
.content-wrap {
	width: 100%;
	height: 100%;
}
.content-wrap{
	position: absolute;
	top: 0;	
}
.menu-wrap a {
	color: #171717;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #171717;
}
/* Menu Button */
.menu-button {
	position: fixed;
	top: 44%;
	z-index: 99998;
	width: 42px;
	height: 60px;
	border: none;
	color: #171717;
	background: #fff;
	cursor: pointer;
}

.menu-button::before {
	position: absolute;
	top: 22px;
	right: 10px;
	bottom: 20px;
	left: 10px;
	background: url(../images/bg_menu.gif) 50% 0 no-repeat;
	content: '';
}

.menu-button:hover {
	opacity: 0.9;
}

/* Close Button */
.close-button {
	display: none;
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: fixed;
	z-index: 99999;
	width: 200px;
	height: 300px;
	background: #fff;
	font-size: 15px;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.menu{
	padding-top: 20px;
	height: 100%;
	overflow: hidden;
}
.list a {
	display: block;
	padding: 9px 20px;
	text-align: center;
	text-transform: uppercase;
}
/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
